services:
  pg0:
    image: postgres:18
    container_name: pg0
    hostname: pg0
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    command: postgres -c config_file=/etc/postgresql/postgresql.conf -c hba_file=/etc/postgresql/pg_hba.conf
    volumes:
      - ./scripts:/scripts
      - ./conf/pg0/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./conf/pg0/pg_hba.conf:/etc/postgresql/pg_hba.conf
    networks:
      - pgnet

  pg1:
    image: postgres:18
    container_name: pg1
    hostname: pg1
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    volumes:
      - ./conf/pg1/postgresql.conf:/etc/postgresql/postgresql.conf
    networks:
      - pgnet

  pg2:
    image: postgres:18
    container_name: pg2
    hostname: pg2
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    volumes:
      - ./conf/pg2/postgresql.conf:/etc/postgresql/postgresql.conf
    networks:
      - pgnet

  pg3:
    image: postgres:18
    container_name: pg3
    hostname: pg3
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    volumes:
      - ./conf/pg3/postgresql.conf:/etc/postgresql/postgresql.conf
    networks:
      - pgnet

networks:
  pgnet:
